In [1]:
%env SOCCERDATA_LOGLEVEL=ERROR
%env SOCCERDATA_NOCACHE=True
%env SOCCERDATA_NOSTORE=True

env: SOCCERDATA_LOGLEVEL=ERROR
env: SOCCERDATA_NOCACHE=True
env: SOCCERDATA_NOSTORE=True

In [2]:
import soccerdata as sd

In [3]:
elo = sd.ClubElo()
print(elo.__doc__)

Provides pd.DataFrames from CSV API at http://api.clubelo.com.

    Data will be downloaded as necessary and cached locally in
    ``~/soccerdata/data/ClubElo``.

    Since the source does not provide league names, this class will not filter
    by league. League names will be inserted from the other sources where
    available. Leagues that are only covered by clubelo.com will have NaN
    values.

    Parameters
    ----------
    proxy : 'tor' or dict or list(dict) or callable, optional
        Use a proxy to hide your IP address. Valid options are:
            - "tor": Uses the Tor network. Tor should be running in
              the background on port 9050.
            - dict: A dictionary with the proxy to use. The dict should be
              a mapping of supported protocols to proxy addresses. For example::

                  {
                      'http': 'http://10.10.1.10:3128',
                      'https': 'http://10.10.1.10:1080',
                  }

            - list(dict): A list of proxies to choose from. A different proxy will
              be selected from this list after failed requests, allowing rotating
              proxies.
            - callable: A function that returns a valid proxy. This function will
              be called after failed requests, allowing rotating proxies.
    no_cache : bool
        If True, will not use cached data.
    no_store : bool
        If True, will not store downloaded data.
    data_dir : Path
        Path to directory where data will be cached.

In [4]:
current_elo = elo.read_by_date()
current_elo.head()

,rank,country,level,elo,from,to,league
team,,,,,,,
Man City,1.0,ENG,1,2039.162476,2024-05-12,2024-05-14,ENG-Premier League
Real Madrid,2.0,ESP,1,1995.378540,2024-05-12,2024-05-14,ESP-La Liga
Inter,3.0,ITA,1,1971.563354,2024-05-11,2024-05-18,ITA-Serie A
Leverkusen,4.0,GER,1,1943.679443,2024-05-10,2024-05-12,GER-Bundesliga
Arsenal,5.0,ENG,1,1939.777344,2024-05-10,2024-05-12,ENG-Premier League

In [5]:
barca_elo = elo.read_team_history("Real Madrid")
barca_elo.head()

            rank         team country  level          elo         to
from
1939-10-22   NaN  Real Madrid     ESP      1  1636.704590 1939-12-03
1939-12-04   NaN  Real Madrid     ESP      1  1621.710571 1939-12-10
1939-12-11   NaN  Real Madrid     ESP      1  1616.419678 1939-12-17
1939-12-18   NaN  Real Madrid     ESP      1  1625.154663 1939-12-24
1939-12-25   NaN  Real Madrid     ESP      1  1635.314575 1939-12-31